APP_NAME=scrapview
APP_ENV=local
APP_DEMO=true

DB_DSN="sqlsrv:Server=SRV-SQL-02,1433;Database=codabix_hy;TrustServerCertificate=1"
DB_USER="kidevscrap"
DB_PASSWORD=""
DB_TABLE="scraptable"

PRESS_LOIPRO_TABLE="sapdata.dbo.LOIPRO"
PRESS_USERS="Anlage 1,Anlage 2,Schichtfuehrer,Coda"
# Optional, falls LOIPRO andere Spaltennamen nutzt:
# PRESS_ORDER_ID_COLUMN="AUFNR"
# PRESS_MATERIAL_COLUMN="MATNR"
# PRESS_DESCRIPTION_COLUMN="KTEXT"
# PRESS_QUANTITY_COLUMN="GAMNG"
# PRESS_UNIT_COLUMN="GMEIN"
# PRESS_PLANNED_START_COLUMN="GSTRP"
# PRESS_PLANNED_END_COLUMN="GLTRP"
